body{
    padding-top: 150px;
    background-color: black;
  }
 button{
  color: black;
  padding: 15px 32px;
  font-size: 16px;
 }
  h1{
    color: chartreuse;
    font-size: 100px;
  }
  span{
      color: grey;
  }